h1 {font-size: 200%;font-family: Verdana;text-align: left;font-variant: small-caps}
body {background-color: darkslategrey; color:floralwhite;padding-left: 150px;padding-right: 150px}
h3 {font-size: 75%;text-align: right;font-family: Verdana;font-variant: normal}
p2 {font-size: 85%;font-family:Verdana;font-variant: small-caps}
p3 {font-size: 75%;font-family:Verdana}
h2 {font-size: 100%;font-family: sans-serif;font-variant: small-caps;text-decoration: underline}
p4 {font-size: 70%;font-family:Verdana}
